<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<dict>
		<key>P</key>
		<dict>
			<key>color</key>
			<string>red</string>
			<key>x</key>
			<integer>-210</integer>
			<key>y</key>
			<integer>-240</integer>
		</dict>
		<key>Q</key>
		<dict>
			<key>color</key>
			<string>green</string>
			<key>x</key>
			<integer>180</integer>
			<key>y</key>
			<integer>-60</integer>
		</dict>
		<key>R</key>
		<dict>
			<key>color</key>
			<string>gray</string>
			<key>x</key>
			<integer>-60</integer>
			<key>y</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>lines</key>
	<dict>
		<key>PQ</key>
		<dict>
			<key>begin</key>
			<string>P</string>
			<key>end</key>
			<string>Q</string>
		</dict>
		<key>QR</key>
		<dict>
			<key>begin</key>
			<string>Q</string>
			<key>end</key>
			<string>R</string>
		</dict>
		<key>RP</key>
		<dict>
			<key>begin</key>
			<string>R</string>
			<key>end</key>
			<string>P</string>
		</dict>
	</dict>
	<key>angles</key>
	<dict>
		<key>RPQ</key>
		<dict>
			<key>center</key>
			<string>P</string>
			<key>start</key>
			<string>R</string>
			<key>end</key>
			<string>Q</string>
		</dict>
		<key>PQR</key>
		<dict>
			<key>center</key>
			<string>Q</string>
			<key>start</key>
			<string>P</string>
			<key>end</key>
			<string>R</string>
		</dict>
		<key>QRP</key>
		<dict>
			<key>center</key>
			<string>R</string>
			<key>start</key>
			<string>Q</string>
			<key>end</key>
			<string>P</string>
		</dict>
	</dict>
	<key>labels</key>
	<dict>
		<key>P</key>
		<dict>
			<key>x</key>
			<integer>-250</integer>
			<key>y</key>
			<integer>-280</integer>
			<key>text</key>
			<string>P</string>
		</dict>
		<key>Q</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>-100</integer>
			<key>text</key>
			<string>Q</string>
		</dict>
		<key>R</key>
		<dict>
			<key>x</key>
			<integer>-90</integer>
			<key>y</key>
			<integer>250</integer>
			<key>text</key>
			<string>R</string>
		</dict>
		<key>description</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-58</integer>
			<key>size</key>
			<real>3.5</real>
			<key>text</key>
			<string></string>
		</dict>
		<key>description2</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-64</integer>
			<key>size</key>
			<real>3.5</real>
			<key>text</key>
			<string></string>
		</dict>
		<key>description3</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-70</integer>
			<key>size</key>
			<real>3.5</real>
			<key>text</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
