<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sounds</key>
	<dict>
		<key>piename</key>
		<string>piename</string>
		<key>question</key>
		<string>question</string>
		<key>answer1</key>
		<string>answer1</string>
		<key>answer2</key>
		<string>answer2</string>
		<key>answer3</key>
		<string>answer3</string>
		<key>LineAB</key>
		<string>LineAB</string>
		<key>LineDF</key>
		<string>LineDF</string>
		<key>LineAC</key>
		<string>LineAC</string>
		<key>LineDC</key>
		<string>LineDC</string>
		<key>LineBE</key>
		<string>LineBE</string>
		<key>LineCF</key>
		<string>LineCF</string>
		<key>LineBD</key>
		<string>LineBD</string>
		<key>LineBC</key>
		<string>LineBC</string>
		<key>LineCD</key>
		<string>LineCD</string>
		<key>pieABC</key>
		<string>pieABC</string>
		<key>pieDCB</key>
		<string>pieDCB</string>
		<key>pieBAD</key>
		<string>pieBAD</string>
		<key>pieCAE</key>
		<string>pieCAE</string>
		<key>pieCDB</key>
		<string>pieCDB</string>
		<key>pieAEB</key>
		<string>pieAEB</string>
		<key>answer2_6_1</key>
		<string>answer2_6_1</string>
		<key>answer2_6_2</key>
		<string>answer2_6_2</string>
		<key>answer2_6_3</key>
		<string>answer2_6_3</string>
		<key>answer2_7_1</key>
		<string>answer2_7_1</string>
		<key>answer2_7_2</key>
		<string>answer2_7_2</string>
		<key>answer2_7_3</key>
		<string>answer2_7_3</string>
		<key>question2_6_2</key>
		<string>question2_6_2</string>
		<key>question2_6_1</key>
		<string>question2_6_1</string>
		<key>question2_7_2</key>
		<string>question2_7_2</string>
		<key>question2_7_1</key>
		<string>question2_7_1</string>
		<key>1_3</key>
		<string>1_3</string>
		<key>1_4</key>
		<string>1_4</string>
		<key>4_1</key>
		<string>4_1</string>
		<key>1_2</key>
		<string>1_2</string>
		<key>2_1</key>
		<string>2_1</string>
		<key>3_1</key>
		<string>3_1</string>
		<key>2_3</key>
		<string>2_3</string>
		<key>10cm</key>
		<string>10cm</string>
		<key>9cm</key>
		<string>9cm</string>
		<key>8cm</key>
		<string>8cm</string>
		<key>7cm</key>
		<string>7cm</string>
		<key>6cm</key>
		<string>6cm</string>
		<key>5cm</key>
		<string>5cm</string>
		<key>4cm</key>
		<string>4cm</string>
		<key>3cm</key>
		<string>3cm</string>
		<key>2cm</key>
		<string>2cm</string>
		<key>F</key>
		<string>F</string>
		<key>D</key>
		<string>D</string>
		<key>E</key>
		<string>E</string>
		<key>C</key>
		<string>C</string>
		<key>B</key>
		<string>B</string>
		<key>A</key>
		<string>A</string>
		<key>answer2_2_1</key>
		<string>answer2_2_1</string>
		<key>answer2_2_2</key>
		<string>answer2_2_2</string>
		<key>answer2_2_3</key>
		<string>answer2_2_3</string>
		<key>answer2_3_1</key>
		<string>answer2_3_1</string>
		<key>answer2_3_2</key>
		<string>answer2_3_2</string>
		<key>answer2_3_3</key>
		<string>answer2_3_3</string>
		<key>answer2_4_1</key>
		<string>answer2_4_1</string>
		<key>answer2_4_2</key>
		<string>answer2_4_2</string>
		<key>answer2_4_3</key>
		<string>answer2_4_3</string>
		<key>answer2_5_1</key>
		<string>answer2_5_1</string>
		<key>answer2_5_2</key>
		<string>answer2_5_2</string>
		<key>answer2_5_3</key>
		<string>answer2_5_3</string>
		<key>question2_5_2</key>
		<string>question2_5_2</string>
		<key>question2_5_1</key>
		<string>question2_5_1</string>
		<key>question2_4_2</key>
		<string>question2_4_2</string>
		<key>question2_4_1</key>
		<string>question2_4_1</string>
		<key>question2_3_2</key>
		<string>question2_3_2</string>
		<key>question2_3_1</key>
		<string>question2_3_1</string>
		<key>question2_2_2</key>
		<string>question2_2_2</string>
		<key>question2_2_1</key>
		<string>question2_2_1</string>
		<key>piy_1</key>
		<string>piy_1</string>
		<key>question1_2</key>
		<string>question1_2</string>
		<key>question1_3</key>
		<string>question1_3</string>
		<key>sindenzu</key>
		<string>sindenzu</string>
		<key>question1</key>
		<string>question1</string>
		<key>question1_1</key>
		<string>question1_1</string>
		<key>piy</key>
		<string>piy</string>
		<key>c4</key>
		<string>pip_c4</string>
		<key>d4</key>
		<string>pip_d4</string>
		<key>e4</key>
		<string>pip_e4</string>
		<key>f4</key>
		<string>pip_f4</string>
		<key>g4</key>
		<string>pip_g4</string>
		<key>a4</key>
		<string>pip_a4</string>
		<key>b4</key>
		<string>pip_b4</string>
		<key>c5</key>
		<string>pip_c5</string>
		<key>d5</key>
		<string>pip_d5</string>
		<key>e5</key>
		<string>pip_e5</string>
		<key>correct</key>
		<string>correct</string>
		<key>wrong</key>
		<string>wrong</string>
		<key>noise</key>
		<string>noise</string>
		<key>pong</key>
		<string>pong</string>
		<key>piano-a</key>
		<string>piano-a</string>
		<key>piano-b</key>
		<string>piano-b</string>
		<key>piano-c</key>
		<string>piano-c</string>
		<key>piano-d</key>
		<string>piano-d</string>
		<key>piano-e</key>
		<string>piano-e</string>
		<key>piano-f</key>
		<string>piano-f</string>
		<key>piano-g</key>
		<string>piano-g</string>
		<key>string-a</key>
		<string>string-a</string>
		<key>string-b</key>
		<string>string-b</string>
		<key>string-c</key>
		<string>string-c</string>
		<key>string-d</key>
		<string>string-d</string>
		<key>string-e</key>
		<string>string-e</string>
		<key>string-f</key>
		<string>string-f</string>
		<key>string-g</key>
		<string>string-g</string>
	</dict>
</dict>
</plist>
