<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>red</string>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>220</integer>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>red</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>630</integer>
		</dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>green</string>
			<key>x</key>
			<integer>663</integer>
			<key>y</key>
			<integer>630</integer>
		</dict>
		<key>D</key>
		<dict>
			<key>color</key>
			<string>gray</string>
			<key>x</key>
			<integer>530</integer>
			<key>y</key>
			<integer>220</integer>
		</dict>
		<key>E</key>
		<dict>
			<key>color</key>
			<string>gray</string>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>373</integer>
		</dict>
	</dict>
	<key>lines</key>
	<dict>
		<key>AB</key>
		<dict>
			<key>begin</key>
			<string>A</string>
			<key>end</key>
			<string>B</string>
		</dict>
		<key>BC</key>
		<dict>
			<key>begin</key>
			<string>B</string>
			<key>end</key>
			<string>C</string>
		</dict>
		<key>CD</key>
		<dict>
			<key>begin</key>
			<string>C</string>
			<key>end</key>
			<string>D</string>
		</dict>
		<key>AD</key>
		<dict>
			<key>begin</key>
			<string>A</string>
			<key>end</key>
			<string>D</string>
		</dict>
		<key>AC</key>
		<dict>
			<key>begin</key>
			<string>A</string>
			<key>end</key>
			<string>C</string>
		</dict>
		<key>DB</key>
		<dict>
			<key>begin</key>
			<string>D</string>
			<key>end</key>
			<string>B</string>
		</dict>
	</dict>
	<key>angles</key>
	<dict>
		<key>ABC</key>
		<dict>
			<key>center</key>
			<string>B</string>
			<key>start</key>
			<string>A</string>
			<key>end</key>
			<string>C</string>
		</dict>
		<key>BCD</key>
		<dict>
			<key>center</key>
			<string>C</string>
			<key>start</key>
			<string>B</string>
			<key>end</key>
			<string>C</string>
		</dict>
	</dict>
	<key>labels</key>
	<dict>
		<key>A</key>
		<dict>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>157</integer>
			<key>size</key>
			<integer>45</integer>
			<key>text</key>
			<string>A</string>
		</dict>
		<key>B</key>
		<dict>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>692</integer>
			<key>size</key>
			<integer>45</integer>
			<key>text</key>
			<string>B</string>
		</dict>
		<key>C</key>
		<dict>
			<key>x</key>
			<integer>707</integer>
			<key>y</key>
			<integer>680</integer>
			<key>size</key>
			<integer>45</integer>
			<key>text</key>
			<string>C</string>
		</dict>
		<key>D</key>
		<dict>
			<key>x</key>
			<integer>563</integer>
			<key>y</key>
			<integer>175</integer>
			<key>size</key>
			<integer>45</integer>
			<key>text</key>
			<string>D</string>
		</dict>
		<key>description</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-58</integer>
			<key>size</key>
			<real>3.5</real>
			<key>text</key>
			<string></string>
		</dict>
		<key>description2</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-64</integer>
			<key>size</key>
			<real>3.5</real>
			<key>text</key>
			<string></string>
		</dict>
		<key>description3</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-70</integer>
			<key>size</key>
			<real>3.5</real>
			<key>text</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
