<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<dict>
		<key>P</key>
		<array>
			<real>-4.5</real>
			<real>2.4</real>
		</array>
		<key>Q</key>
		<array>
			<real>4.5</real>
			<real>2.4</real>
		</array>
		<key>A</key>
		<array>
			<real>-4.5</real>
			<integer>0</integer>
		</array>
		<key>B</key>
		<array>
			<real>-4.5</real>
			<real>-3.5</real>
		</array>
		<key>C</key>
		<array>
			<integer>0</integer>
			<real>-3.5</real>
		</array>
		<key>D</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>E</key>
		<array>
			<real>4.5</real>
			<integer>0</integer>
		</array>
		<key>F</key>
		<array>
			<real>4.5</real>
			<real>-3.5</real>
		</array>
	</dict>
	<key>number</key>
	<integer>13</integer>
	<key>answer</key>
	<integer>3</integer>
	<key>angle1</key>
	<array>
		<string>B</string>
		<integer>0</integer>
		<integer>90</integer>
	</array>
	<key>angle2</key>
	<array>
		<string>E</string>
		<integer>-180</integer>
		<integer>-90</integer>
	</array>
	<key>lines</key>
	<array>
		<string>PQ</string>
		<string>AB</string>
		<string>BC</string>
		<string>CD</string>
		<string>DA</string>
		<string>ED</string>
		<string>EF</string>
		<string>FC</string>
	</array>
	<key>buttons</key>
	<array>
		<string>問題文</string>
		<string>解答１</string>
		<string>解答２</string>
		<string>解答３</string>
	</array>
	<key>labels</key>
	<array>
		<dict>
			<key>text</key>
			<string></string>
			<key>X</key>
			<integer>20</integer>
			<key>Y</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>X</key>
			<integer>60</integer>
			<key>Y</key>
			<integer>25</integer>
		</dict>
	</array>
</dict>
</plist>
